<head>
   
    <meta charset="UTF-8" />
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <title> ALTRAN </title>

    <!-- Fonts Here-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet" >
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Dosis:500' rel='stylesheet' type='text/css'/>

  
    <!-- Style Here -->
    <link rel="stylesheet" href="/css/style.css" >
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"/>

    <!-- bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" >


    <!-- JS -->
    <script src="/js/popper.min.js" defer></script>
    <script src="/js/jquery.min.js" defer></script>
    <script src="/js/bootstrap.min.js" defer></script>
 

</head>

<body>
  <div id="wrapper">
      
<!-- INICIO -->
    <div class="arrowRight">

        <div class="topnav">
         <a href="#bub"><p>Home</p></a>
        </div>

        <div class="topnav">
           <a href="#bub"><p>Level1</p></a>
        </div>

        <div class="topnav">
           <a href="#bub"><p>Level2</p></a>
        </div>

        <div class="topnav">
           <a href="#bub"><p>Level3</p></a>
        </div>

        <div class="topnav">
           <a href="#bub"><p>Last</p></a>
        </div>

    </div>
<!-- END INICIO -->

<!-- LOGIN -->
    <div class="topnav2"> 
        
            <div class="main_header inner_page">
                <div class="top_nav" id="navbar">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12"> 
                                <div class="nav_manu">
                                    <div class="containerlogin">
                                        <a href="#" title="Login">
                                           <a href="#">Login</a>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </div>
<!-- END LOGIN -->

<br>
 <br>

<!-- IMG 1 -->
<div class="top_nav_img"> 
    <img src="https://i.ibb.co/G9014k3/513x80.jpg" alt="513x80" border="0" />
</div>
<!-- END IMG 1 -->
  <br>
<br>
<!-- IMG 2 -->
<div>
    <img src="https://i.ibb.co/cT9hpHS/Captura-de-pantalla-2021-05-24-a-las-15-01-50.png" alt="Captura-de-pantalla-2021-05-24-a-las-15-01-50" style="float: left;"  border="0">
</div>
<!-- END IMG 2 -->

<!-- TEXT 1 -->
<div class="container2">

  <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis explicabo, quia optio pariatur tempora architecto quisquam eaque dicta inventore quasi?</p>
  <p class="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae voluptas provident, vitae deleniti nostrum impedit asperiores architecto veritatis iste maxime!</p>
  <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem culpa velit libero quod ex hic rerum eius aliquid harum ipsam.</p>
  <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ipsa odio aperiam inventore rerum molestiae! Facilis porro veritatis beatae nihil.</p>
  <p class="text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero fuga iste provident quod quisquam cupiditate consequuntur numquam optio, nemo ab.</p>
  <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem culpa velit libero quod ex hic rerum eius aliquid harum ipsam.</p>
  <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel ipsa odio aperiam inventore rerum molestiae! Facilis porro veritatis beatae nihil.</p>
  <p class="text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero fuga iste provident quod quisquam cupiditate consequuntur numquam optio, nemo ab.</p>

</div>
<!-- END TEXT 1 -->


        <!-- NAVBAR 2 -->
        <section>

                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="main">

                                <h2 class="title">
                                    <br>
                                </h2>

                                <div>
                                    <div>
                                        <ul class="nav nav-tabs" role="tablist">

                                            <li>
                                                <a class="nav-link trans" data-toggle="tab" href="#home" title="Home">
                                                    <span class="icon">Home</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="nav-link active trans" data-toggle="tab" href="#products" title="Products">
                                                    <span class="icon">Products</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="nav-link trans" data-toggle="tab" href="#about" title="About">
                                                    <span class="icon">About</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="nav-link trans" data-toggle="tab" href="#contact" title="Contact">
                                                    <span class="icon">Contact</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a>   
                                             <input type="search" placeholder="busca">                                                 
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="tab-content">

                                    <!-- HOME -->
                                    <div id="home" class=" tab-pane">
                                        <div class="content_row">
                                            <div class="left_cntbar">
                                                <div class="combos_items">
                                                    <div class="row">
                                                     
                                                       <h1> Home </h1>
                                             
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END HOME -->

                                    <!-- PRODUCTS WITH NAVBAR 3-->
                                    <div id="products" class="tab-pane active">
                                        <div class="content_row">
                                            <div class="left_cntbar">
                                                <div class="combos_items">
                                                    <div class="row">

                                                     <!-- NAVBAR 3 -->
                                                     <section class="contenido"> 

                                                        <div id="tabs2-container">
                                                          <ul class="tabs2-menu">
                                                            <!-- Apps -->
                                                            <li>
                                                                <a class="current" data-toggle="tab" href="#apps" title="Apps">
                                                                        <span class="icon"> Apps </span>
                                                                 </a>
                                                            </li>
                                                            <!-- Games -->
                                                            <li>
                                                                <a class="current" data-toggle="tab" href="#games" title="Games">
                                                                         <span class="icon">Games</span>
                                                                </a>
                                                            </li>   
                                                            <!-- Movies -->
                                                            <li class="current">
                                                                <a href="#tab2-5"> 
                                                                         <span class="icon">Movies</span> 
                                                                </a>
                                                            </li>
                                                            <!-- Books -->
                                                            <li>
                                                                <a class="current" data-toggle="tab" href="#books" title="Books">
                                                                         <span class="icon">Books</span>
                                                                </a>
                                                            </li>
                                                            <!-- Newspapers -->
                                                            <li>
                                                                <a class="current" href="#tab2-5" title="Newspapers">
                                                                         <span class="icon">Newspapers</span>
                                                                </a>
                                                            </li>   
                                                          </ul>
                                                        </div>

                                                        <!-- TEXT 2 -->
                                                        <div class="container2">
                                                            <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis explicabo, quia optio pariatur tempora architecto quisquam eaque dicta inventore quasi?</p>
                                                            <p class="text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae voluptas provident, vitae deleniti nostrum impedit asperiores architecto veritatis iste maxime!</p>
                                                        </div>
                                                        <!-- END TEXT 2 -->
                                                        
                                                        <!-- ESTRELLAS -->
                                                         <div class="container3" >
                                                              <div class="ec-stars-wrapper">
                                                                   <a href="#" data-value="1" title="Votar con 1 estrellas">&#9733;</a>
                                                                   <a href="#" data-value="2" title="Votar con 2 estrellas">&#9733;</a>
                                                                   <a href="#" data-value="3" title="Votar con 3 estrellas">&#9733;</a>
                                                                   <a href="#" data-value="4" title="Votar con 4 estrellas">&#9733;</a>
                                                                   <a href="#" data-value="5" title="Votar con 5 estrellas">&#9733;</a>
                                                                   
                                                                </div>
                                                         </div>                                                                                                            
                                                       <!-- END ESTRELLAS -->

                                                     </section>
                                                      <!-- END NAVBAR 3 -->

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- END PRODUCTS WITH NAVBAR 3-->

                                    <!-- ABOUT-->
                                    <div id="about" class=" tab-pane fade">
                                        <div class="content_row">
                                            <div class="left_cntbar">
                                                <div class="combos_items">
                                                    <div class="row">
                                                     
                                                       <h1>About</h1>
                                                      
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- END ABOUT -->

                                    <!-- CONTACT -->
                                    <div id="contact" class=" tab-pane fade">
                                        <div class="content_row">
                                            <div class="left_cntbar">
                                                <div class="combos_items">
                                                    <div class="row">
                                                     
                                                       <h1>Contact</h1>
                                                      
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--END CONTACT-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 

        </section>


  </div>
</body>








